table {
    margin: auto;
    position: relative;
  }
  
  .light-cell {
    background: rgb(211, 210, 210);
    width: 45px;
    height: 45px;
  }
  
  .dark-cell {
    background: rgb(63, 63, 63);
    width: 45px;
    height: 45px;
  }
  .selected {
    background-color: aqua;
  }
  .possible-move {
    background: rgb(221, 142, 46);
  }
  .winner-dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 50;
    border-radius: 10px;
    width: max-content;
  }
  
  .title {
    text-align: center;
  }